@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../assets/bg-10.png');
  
  background-size: cover; 
  background-repeat: repeat; 
  background-attachment: fixed; 
  background-position: center; 
  font-family: "Alexandria", sans-serif;

  /* Scrollbar styles */
  --sb-track-color: #c7a887;
  --sb-thumb-color: #314351;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 8px solid #34505d;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Dark mode specific styles */
.dark body {
 /* Use the same image for dark mode */
     background-image: url('../assets/bg-dark.jpg');
}

/* Responsive styles */
@media (max-width: 800px) {
  body {
    background-image: url('../assets/bg-mobile.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  /* Dark mode for mobile */
  .dark body {
    background-image: url('../assets/bg-mobile-dark.jpg');
  }
}

